<footer class="flex items-center w-full mt-8 bg-seguridad-principal md:justify-around"> 
  <ul class="w-full md:flex list-none text-seguridad-contraste-oscuro text-center md:text-left pt-4 px-4 pb-2 md:flex-row md:justify-center md:mx-auto">
    <li class="pt-0 pr-4"><img class="mx-auto" src="./assets/images/logo.png" alt="Logo"></li>
    <li class="pt-2 pr-4"><a class="text-seguridad-contraste-oscuro hover:text-seguridad-contraste-hover no-underline" href="">Inicio</a></li>
    <li class="pt-2 pr-4"><a class="text-seguridad-contraste-oscuro hover:text-seguridad-contraste-hover no-underline" href="./speakers.html">Participantes</a></li>
    <li class="pt-2 pr-4"><a class="text-seguridad-contraste-oscuro hover:text-seguridad-contraste-hover no-underline" href="./article.html">Articulo</a></li>
    <li class="pt-2 pr-4"><a class="text-seguridad-contraste-oscuro hover:text-seguridad-contraste-hover no-underline" href="">Contacto</a></li>
    <li class="pt-2 pr-4">
      <ul class="flex justify-center px-4 pb-4 md:pb-0 flex space-x-4 list-none">
        <li class="list-none"><a class="pr-4 mb-4 block hover:text-seguridad-contraste-hover" href=""> <i class="fa-brands fa-google-plus-g"></i></a></li>
        <li class="list-none"><a class="pr-4 mb-4 block hover:text-seguridad-contraste-hover" href=""> <i class="fa-brands fa-facebook-f"></i></a></li>
        <li class="list-none"><a class="pr-4 mb-4 block hover:text-seguridad-contraste-hover" href=""> <i class="fa-brands fa-twitter"></i></a></li>
      </ul>
    </li>
  </ul>
</footer>
