<header class="py-2 mb-8 bg-seguridad-menu">
    <nav class="flex justify-between items-center font-black">
        <a class="ml-8" href="./index.html"><img src="assets/images/logo.png?as=webp" alt="Logo Concurso"></a>
        <ul class="flex list-none justify-evenly">
            <li class="pr-4"><a class="text-seguridad-principal no-underline hover:text-seguridad-contraste" href="./index.html">Inicio</a></li>
            <li class="pr-4"><a class="text-seguridad-principal no-underline hover:text-seguridad-contraste" href="./speakers.html">Participantes</a></li>
            <li class="pr-4"><a class="text-seguridad-principal no-underline hover:text-seguridad-contraste" href="./article.html">Artículo</a></li>
            <li class="pr-4"><a class="text-seguridad-principal no-underline hover:text-seguridad-contraste" href="">Contacto</a></li>
        </ul>
    </nav>
</header>